# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: Canonical Ltd.
name: smoke
on:
    push:
        branches: ["main"]
    pull_request:
        paths:
            - '.github/workflows/spread.yaml'
            - 'bin/*'
            - 'spread.yaml'
            - 'spread/*.sh'
            - 'tests/**'
    workflow_dispatch:
        inputs:
            snapd-risk-level:
                description: 'Store risk level of the snapd snap'
                type: string
                default: 'beta'
                required: true
            lxd-risk-level:
                description: 'Store risk level of the LXD snap'
                type: string
                default: 'candidate'
                required: true
            maas-risk-level:
                description: 'Store risk level of the MAAS snap'
                type: string
                default: 'candidate'
                required: true
            snapcraft-risk-level:
                description: 'Store risk level of the snapcraft snap'
                type: string
                default: 'stable'
                required: true
            docker-risk-level:
                description: 'Store risk level of the docker snap'
                type: string
                default: stable
            image-garden-channel:
                description: 'Store channel of the image-garden snap'
                type: string
                default: 'latest/edge'
                required: true
jobs:
    canary:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
              # This is essential for git restore-mtime to work correctly.
              with:
                fetch-depth: 0
            - name: Cache downloaded snaps
              uses: actions/cache@v4
              with:
                path: .image-garden/cache-*/snaps
                key: snaps
            - name: Set environment variables for spread
              run: |
                # Export variables that spread picks up from the host.
                echo X_SPREAD_SNAPD_RISK_LEVEL="${{ inputs.snapd-risk-level || 'beta' }}" >> $GITHUB_ENV
                echo X_SPREAD_LXD_RISK_LEVEL="${{ inputs.lxd-risk-level || 'candidate' }}" >> $GITHUB_ENV
                echo X_SPREAD_MAAS_RISK_LEVEL="${{ inputs.maas-risk-level || 'candidate' }}" >> $GITHUB_ENV
                echo X_SPREAD_SNAPCRAFT_RISK_LEVEL="${{ inputs.snapcraft-risk-level || 'stable' }}" >> $GITHUB_ENV
                echo X_SPREAD_DOCKER_RISK_LEVEL="${{ inputs.docker-risk-level || 'stable' }}" >> $GITHUB_ENV
            - name: Run integration tests
              uses: zyga/image-garden-action@326813dd2f6c904bd38e6d6c7ce03ff02a997ca0
              with:
                garden-system: ubuntu-cloud-24.04
                image-garden-channel: ${{ inputs.image-garden-channel }}
    test:
        runs-on: ubuntu-latest
        needs: canary
        strategy:
            fail-fast: false
            matrix:
                garden-system:
                    - amazonlinux-cloud-2
                    - amazonlinux-cloud-2023
                    - archlinux-cloud
                    - centos-cloud-10
                    - centos-cloud-9
                    - debian-cloud-11
                    - debian-cloud-12
                    - debian-cloud-sid
                    - fedora-cloud-41
                    - fedora-cloud-42
                    - opensuse-cloud-tumbleweed
                    - ubuntu-cloud-20.04
                    - ubuntu-cloud-22.04
                    # This is duplicating the canary job.
                    # - ubuntu-cloud-24.04
                    - ubuntu-cloud-25.04
                    - ubuntu-cloud-25.10
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
              # This is essential for git restore-mtime to work correctly.
              with:
                fetch-depth: 0
            - name: Restore cache of downloaded snaps
              uses: actions/cache/restore@v4
              with:
                path: .image-garden/cache-*/snaps
                key: snaps
            - name: Set environment variables for spread
              run: |
                # Export variables that spread picks up from the host.
                echo X_SPREAD_SNAPD_RISK_LEVEL="${{ inputs.snapd-risk-level || 'beta' }}" >> $GITHUB_ENV
                echo X_SPREAD_LXD_RISK_LEVEL="${{ inputs.lxd-risk-level || 'candidate' }}" >> $GITHUB_ENV
                echo X_SPREAD_MAAS_RISK_LEVEL="${{ inputs.maas-risk-level || 'candidate' }}" >> $GITHUB_ENV
                echo X_SPREAD_SNAPCRAFT_RISK_LEVEL="${{ inputs.snapcraft-risk-level || 'stable' }}" >> $GITHUB_ENV
                echo X_SPREAD_DOCKER_RISK_LEVEL="${{ inputs.docker-risk-level || 'stable' }}" >> $GITHUB_ENV
            - name: Run integration tests
              uses: zyga/image-garden-action@326813dd2f6c904bd38e6d6c7ce03ff02a997ca0
              with:
                snapd-channel: latest/edge
                image-garden-channel: ${{ inputs.image-garden-channel }}
                garden-system: ${{ matrix.garden-system }}
                cache-prepared-images: ${{ matrix.garden-system == 'archlinux-cloud' }}
