# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: Canonical Ltd.
name: smoke
on:
    push:
jobs:
    test:
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                system:
                    - amazonlinux-cloud-2023
                    - archlinux-cloud
                    - centos-cloud-10
                    - centos-cloud-9
                    - debian-cloud-11
                    - debian-cloud-12
                    - debian-cloud-sid
                    - fedora-cloud-41
                    - fedora-cloud-42
                    - opensuse-cloud-tumbleweed
                    - ubuntu-cloud-20.04
                    - ubuntu-cloud-22.04
                    - ubuntu-cloud-24.04
                    - ubuntu-cloud-25.04
                    - ubuntu-cloud-25.10
        steps:
            - name: Inspect the system
              run: |
                uname -a
                free -m
                nproc
                snap version
                groups
                ip addr list
                ls -l /dev/kvm || true
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Cache downloaded snaps
              uses: actions/cache@v4
              with:
                path: .image-garden/cache-*/snaps
                key: snaps
            - name: Cache downloaded virtual machine images
              uses: actions/cache@v4
              with:
                path: ~/snap/image-garden/common/cache/dl
                key: image-garden-dl-${{ matrix.system }}
            - name: Cache customized virtual machine images
              uses: actions/cache@v4
              with:
                path: .image-garden
                key: image-garden-img-${{ matrix.system }}-${{ hashFiles('.image-garden.mk') }}
            - name: Make permissions on /dev/kvm more lax
              run: sudo chmod -v 666 /dev/kvm
            - name: Work around a bug in snapd suspend logic
              run: |
                sudo mkdir -p /etc/systemd/system/snapd.service.d
                echo -e "[Service]\\nEnvironment=SNAPD_STANDBY_WAIT=15m" | sudo tee /etc/systemd/system/snapd.service.d/standby.conf
                sudo systemctl daemon-reload
                sudo systemctl restart snapd.service
            - name: Install image-garden snap
              run: |
                export X_SPREAD_SNAP_CACHE_DIR="$(pwd)"/.image-garden/cache-"$(uname -m)"/snaps
                ./bin/snap-install snapd
                ./bin/snap-install core24
                ./bin/snap-install image-garden latest/edge
            - name: Use spread from image-garden snap
              run: sudo snap alias image-garden.spread spread
            - name: Restore mtime of .image-garden.mk
              run: |
                # Disable man page updates which is time-consuming.
                echo "set man-db/auto-update false" | sudo debconf-communicate
                sudo dpkg-reconfigure man-db
                # Download the deb and install it by hand.
                wget http://launchpadlibrarian.net/643625039/git-restore-mtime_2022.12-1_all.deb
                sudo dpkg -i git-restore-mtime_2022.12-1_all.deb
                rm -f git-restore-mtime_2022.12-1_all.deb
                # sudo apt update
                # sudo apt install -y git-restore-mtime
                git restore-mtime .image-garden.mk
            - name: Make the virtual machine image (dry run)
              run: |
                ls -lR ~/snap/image-garden/common/cache/dl
                ls -lR .image-garden
                image-garden make --debug --dry-run ${{ matrix.system }}."$(uname -m)".qcow2
            - name: Make the virtual machine image
              run: image-garden make ${{ matrix.system }}."$(uname -m)".qcow2 ${{ matrix.system }}."$(uname -m)".run ${{ matrix.system }}.user-data ${{ matrix.system }}.meta-data ${{ matrix.system }}.seed.iso
            - name: Run integration tests
              run: |
                spread -v garden:${{ matrix.system }}:
